<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>

<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/theme.css">
<link rel="stylesheet" href="/css/styles-tablet.css">
<link rel="stylesheet" href="/css/styles-desktop.css">

</head>


  <body class="bg-light-grey">
    <header class="bg-yellow">
      <h1>
        <img src="/images/logo-mercado-liebre.svg" alt="Logo de la empresa" />
      </h1>
      <div>
        <input type="search" name="" id="" placeholder="Buscar producto" />
      </div>

      <p class="center"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito
      </p>

      <nav class="nav-bar">
          <ul class="nav-section">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
          </ul>
        <ul class="nav-section">
          <li>
            <a href="#">Crea tu cuenta <i class="far fa-id-card"></i></a> 
          </li>
          <li><a href="#">Ingresá <i class="fas fa-sign-out-alt"></i></a></li>
          <li>
            <a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></i>
          </li>
        </ul>
        <div class="burger-menu burger-icon">
          <i class="fas fa-bars" ></i>
          </div>
      </nav>

    </header>

    <img src="/images/img-home-banner.jpg" alt="Banner" width="100%" />

    <main>
      <section>
        <h2 class="font-title">Basado en tu última visita</h2>
        <article class="product">
     
          <img
            src="/images/img-cafetera-moulinex.jpg"
            alt="Cafetera"
            width="100%"
          />
          <div class="div-article">
             <i class="fas fa-truck font-green truck-icon"></i>
            <p class="font-large">$ 6.770</p>
            <p class="font-medium font-green">40% off</p>
            <h3 class="product-title font-medium font-grey p-10">Cafetera Moulinex</h3>
          </div>
        </article>

        <article class="product">
          
          <img
            src="/images/img-macbook-pro-2019.jpg"
            alt="Macbook"
            width="100%"
          />
          <div class="div-article">
          <i class="fas fa-truck font-green truck-icon"></i>
            <p class="font-large">$ 230.000</p>
            <p class="font-medium font-green">20% off</p>
            <h3 class="product-title font-medium font-grey p-10">Macbook Pro 2019</h3>
          </div>
        </article>

        <article class="product">
        
          <img
            src="/images/img-samsung-galaxy-s10.jpg"
            alt="Samsung galaxy"
            width="100%"
          />
          <div class="div-article">
            <i class="fas fa-truck font-green truck-icon"></i>
            <p class="font-large">$ 70.500</p>
            <p class="font-medium font-green">10% off</p>
            <h3 class="product-title font-medium font-grey p-10">Samsung Galaxy S10</h3>
          </div>
        </article>

        <article class="product">
          <img
            src="/images/img-tv-samsung-smart.jpg"
            alt="SmartTV Samsung"
            width="100%"
          />
          <div class="div-article">
            <i class="fas fa-truck font-green truck-icon"></i>
            <p class="font-large">$ 23.200</p>
            <p class="font-medium font-green">5% off</p>
            <h3 class="product-title font-medium font-grey p-10">SmartTV Samsung 43"</h3>
          </div>
        </article>
      </section>

      <section>
        <h2 class="font-title">Sección ofertas</h2>
        <article class="product">
          <img 
            src="/images/img-cafetera-moulinex.jpg"
            alt="Cafetera"
            width="100%"
          />
          <div class="div-article">
            <i class="fas fa-truck font-green truck-icon"></i>
            <p class="font-large">$ 6.770</p>
            <p class="font-medium font-green">40% off</p>
            <h3 class="product-title font-medium font-grey p-10">Cafetera Moulinex</h3>
          </div>
        </article>

        <article class="product">
          <img
            src="/images/img-macbook-pro-2019.jpg"
            alt="Macbook"
            width="100%"
          />
          <div class="div-article">
            <i class="fas fa-truck font-green truck-icon"></i>
            <p class="font-large">$ 230.000</p>
            <p class="font-medium font-green">20% off</p>
            <h3 class="product-title font-medium font-grey p-10">Macbook Pro 2019</h3>
          </div>
        </article>

        <article class="product">
          <img
            src="/images/img-samsung-galaxy-s10.jpg"
            alt="Samsung galaxy"
            width="100%"
          />
          <div class="div-article">
            <i class="fas fa-truck font-green truck-icon"></i>
            <p class="font-large">$ 70.500</p>
            <p class="font-medium font-green">10% off</p>
            <h3 class="product-title font-medium font-grey p-10">Samsung Galaxy S10</h3>
          </div>
        </article>

        <article class="product">
          <img
            src="/images/img-tv-samsung-smart.jpg"
            alt="SmartTV Samsung"
            width="100%"
          />
          <div class="div-article">
            <i class="fas fa-truck font-green truck-icon"></i>
            <p class="font-large"> $ 23.200</p>
            <p class="font-medium font-green">5% off</p>
            <h3 class="product-title font-medium font-grey p-10">SmartTV Samsung 43"</h3>
          </div>
        </article>
      </section>
    </main>

    <footer class="bg-white">
      <section class="footer-section">
        <article class="center">
          <div><i class="fas fa-credit-card font-light-blue footer-icon"></i></div>
          <h3>Pagá con tarjeta o efectivo</h3>
          <p class="footer-p">
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </article>

        <article class="center">
          <div><i class="fas fa-gift font-light-blue footer-icon"></i></div>
          <h3>Envío gratis desde $2.500</h3>
          <p class="footer-p">
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </article>

        <article class="center">
          <div><i class="fas fa-user-shield font-light-blue footer-icon"></i></div>
          <h3>Seguridad de principio a fin</h3>
          <p class="footer-p">
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
            puedas hacer, porque estás siempre protegid@.
          </p>
        </article>

        <article class="center">
          <div>
            <h3>Suscribite a nuestro newsletter</h3>

            <form action="#" method="post">
              <label for="email"> </label>
              <input
                type="email"
                name="email"
                id="email"
                placeholder="Escriba aquí su email"
              />
              <button type="submit">Suscribirse</button>
            </form>
          </div>
        </article>
      </section>

      <article class="center">Copyright © 1999-2020 MercadoLiebre S.R.L.</article>

      <section></section>
    </footer>
  </body>
</html>
