<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>

<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/theme.css">
<link rel="stylesheet" href="/css/styles-tablet.css">
<link rel="stylesheet" href="/css/styles-desktop.css">


</head>
<body class="bg-light-grey">
    <header class="bg-yellow  flex-center">
      <div class="top-header section-flex">
        <h1 class="logo-h1">
        <img src="/images/logo-mercado-liebre.svg" alt="Logo de la empresa"/>
      </h1>
      <div class="search-div">
        <input type="search" name="" id="" placeholder="Buscar producto" />
      </div>

      <p class="center w-100 compra-p"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito
      </p>
    </div>

      <nav class="nav-bar">
          <ul class="nav-section">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
          </ul>
        <ul class="nav-section">
          <li>
            <a href="/register">Crea tu cuenta <i class="far fa-id-card"></i></a> 
          </li>
          <li><a href="/login">Ingresá <i class="fas fa-sign-out-alt"></i></a></li>
          <li>
            <a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></i>
          </li>
        </ul>
      </nav>

      <div class="burger-menu burger-icon">
        <i class="fas fa-bars" ></i>
        </div>
    </header>



    <main>
        <form action="/" method="GET">
            <div>
              <label for="" class="hidden">Nombre y apellido</label>
              <input
                class="form-input w-100"
                id="fullname"
                type="text"
                name="fullname"
                placeholder="Nombre y Apellido"/>
            </div>

            <div class="form-field">
              <label for="username" class="hidden">Nombre de usuario</label>
              <input
                class="form-input w-100"
                id="username"
                type="text"
                name="username"
                placeholder="Nombre de Usuario"
              />
            </div>

            <div class="form-field">
              <label for="email" class="hidden">Email</label>
              <input
                class="form-input w-100"
                id="email"
                type="email"
                name="email"
                placeholder="Email"
              />
            </div>

            <div class="form-field">
              <label for="birthdate" class="input-label">Fecha de Nacimiento</label>
              <input
                class="form-input w-100"
                id="birthdate"
                type="date"
                name="birthdate"
                placeholder="Fecha de Nacimiento"
              />
            </div>
    
            <div class="form-field">
              <label for="address" class="hidden">Domicilio</label>
    
              <input
                class="form-input w-100"
                id="address"
                type="text"
                name="address"
                placeholder="Domicilio"
              />
            </div>
    
            <div class="form-field">
              <label for="userprofile" class="input-label">Perfil de Usuario</label>
              <div class="input-option m-8 w-50">
                <input
                  type="radio"
                  name="userprofile"
                  id="userprofile-buyer"
                  value="buyer"
                />
                <label for="userprofile-buyer">Comprador</label>
              </div>
              <div class="input-option m-8 w-50">
                <input
                  type="radio"
                  name="userprofile"
                  id="userprofile-seller"
                  value="seller"
                />
                <label for="userprofile-seller">Vendedor</label>
              </div>
            </div>
    
            <div class="form-field error">
              <label for="address" class="input-label">Categorías de interés</label>
              <div class="input-option m-8 w-100 pl-8">
                <input
                  type="checkbox"
                  name="interests"
                  id="interests-electro"
                  value="electro"
                />
                <label for="interests-electro">Electro</label>
              </div>
              <div class="input-option m-8 w-100 pl-8">
                <input
                  type="checkbox"
                  name="interests"
                  id="interests-fashion"
                  value="fashion"
                />
                <label for="interests-fashion">Moda</label>
              </div>
              <div class="input-option m-8 w-100 pl-8">
                <input
                  type="checkbox"
                  name="interests"
                  id="interests-home"
                  value="home"
                />
                <label for="interests-home">Hogar</label>
              </div>
              <div class="input-option m-8 w-100 pl-8">
                <input
                  type="checkbox"
                  name="interests"
                  id="interests-toys"
                  value="toys"
                />
                <label for="interests-toys">Juguetearía</label>
              </div>
              <div class="input-option m-8 w-100 pl-8">
                <input
                  type="checkbox"
                  name="interests"
                  id="interests-healthylife"
                  value="healthylife"
                />
                <label for="interests-healthylife">Vida Sana</label>
            </div>
            <div class="form-field m-8">
              <label for="profilepic" class="input-label">Foto de usuario</label>
              <input
                id="profilepic"
                type="file"
                accept="image/*"
                name="profilepic"
                class="m-8"
              />
            </div>
            <div class="form-field">
              <input
                class="form-input w-100"
                id="password"
                type="text"
                name="password"
                placeholder="Contraseña"
              />
            </div>
            <div class="form-field">
              <input
                class="form-input w-100"
                id="confirm-password"
                type="password"
                name="confirm-password"
                placeholder="Confirmar Contraseña"
              />
            </div>
            <button class="button font-white bg-light-blue" type="submit">
              Enviar
            </button>
            <button class="button font-white bg-green " type="reset">
              Reiniciar
            </button>
          </form>
</main>
    <footer class="bg-white">
        <section class="footer-section">
          <article class="center">
            <div><i class="fas fa-credit-card font-light-blue footer-icon"></i></div>
            <h3>Pagá con tarjeta o efectivo</h3>
            <p class="footer-p">
              Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
              efectivo en puntos de pago. ¡Y siempre es seguro!
            </p>
          </article>
  
          <article class="center">
            <div><i class="fas fa-gift font-light-blue footer-icon"></i></div>
            <h3>Envío gratis desde $2.500</h3>
            <p class="footer-p">
              Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
              miles de productos. Es un beneficio de Mercado Puntos.
            </p>
          </article>
  
          <article class="center">
            <div><i class="fas fa-user-shield font-light-blue footer-icon"></i></div>
            <h3>Seguridad de principio a fin</h3>
            <p class="footer-p">
              ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
              puedas hacer, porque estás siempre protegid@.
            </p>
          </article>
        </section>
  
        <article class="center">Copyright © 1999-2020 MercadoLiebre S.R.L.</article>
  
        <section></section>
      </footer>
</body>
</html>