@media (min-width: 769px) {
  .main-form {
    margin-bottom: 20%;
  }

  .footer-icon:hover {
    color: #39b54a;
  }

  .product-title {
    display: none;
  }

  .product:hover .product-title {
    display: block;
  }

  .section-flex {
    display: flex;
    flex-wrap: wrap;
  }

  .header-flex {
    display: flex;
    flex-wrap: wrap;
  }

  .product {
    width: 21%;
    margin: 2%;
    justify-content: center;
  }

  .product:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  .product {
    box-shadow: none;
  }
  /*   FORM */

  .form-input {
    width: 90%;
  }

  .input-label {
    width: 100%;
  }

  .w-70 {
    width: 70%;
  }

  .truck-icon:hover {
    transition: transform 2s;
    transform: rotate(-90deg);
  }

  .color-change:hover {
    background-color: #0022aa;
  }

  .footer-section {
    display: flex;
  }
}
