@media (min-width: 769px) {
  .product-title {
    display: none;
  }

  .section-flex {
    display: flex;
    flex-wrap: wrap;
  }

  .header-flex {
    display: flex;
    flex-wrap: wrap;
  }

  .product {
    box-shadow: none;
    width: 21%;
    margin: 2%;
    justify-content: center;
  }
  /*   FORM */

  .form-input {
    width: 90%;
  }

  .input-label {
    width: 100%;
  }

  .w-70 {
    width: 70%;
  }
}
